<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>审核报销单</title>
    <link rel="icon" href="../static/favicon.ico" type="image/ico">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../static/css/style.min.css" rel="stylesheet">
    <link href="../static/css/pagination.css" rel="stylesheet">
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="side.html:: side "></div>
        <!--End 左侧导航-->

        <!--头部信息-->
        <div th:replace="topbar.html :: topbar"></div>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>报销单信息</h4>
                            </div>
                            <div class="card-toolbar clearfix">
                                <div class="pull-right search-bar">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <input type="hidden" name="search_field" id="search-field" value="name">
                                            <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                                                姓名 <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li> <a tabindex="-1" href="javascript:void(0)" data-field="name">姓名</a> </li>
                                                <li> <a tabindex="-1" href="javascript:void(0)" data-field="cause">原因</a> </li>
                                            </ul>
                                        </div>
                                        <input id="search-input" type="text" class="form-control" value="" name="keyword" placeholder="请输入关键字">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>报销人</th>
                                            <th>所属部门</th>
                                            <th>报销原因</th>
                                            <th>开始日期</th>
                                            <th>报销金额</th>
                                            <th>状态</th>
                                            <th>进度</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody class="view-wrap">
                                        </tbody>
                                    </table>
                                </div>
                                <ul id="jq-page" class="m-style"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../static/js/main.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="../static/js/lightyear.js"></script>
<script type="text/javascript" src="../static/js/jquery.pagination.js"></script>
<script type="text/javascript" src="../static/js/admin/log-out.js"></script>
<script type="text/javascript" src="../static/js/admin/expense-report-view.js"></script>
</body>
</html>